{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% if edit %} Edit Staff - Farmfills Admin {% else %} Create Staff - Farmfills Admin {% endif %}</title>
        <link href="{% static 'admin/css/styles.css' %}" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        
        
        <!-- Top Nav Bar -->
        {% include 'admin/components/top-nav.html' %}

        <div id="layoutSidenav">


            <!-- Side Nav bar -->
            {% include 'admin/components/side-nav.html' %}


            <!-- Main Area  -->
            <div id="layoutSidenav_content">
                
                <!-- Main Content Goes here -->
                <main>
                    <div class="container-fluid px-4">
                        {% if edit %}
                            <h1 class="mt-4">Edit Staff</h1>
                            
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item"><a href="{% url 'admin_staff_list' %}" style='text-decoration:none;color:#00208c'>Staffs</a></li>
                                <li class="breadcrumb-item active">Staff {{staff.id}}</li>
                            </ol>
                        {% else %}
                            <h1 class="mt-4">Create Staff</h1>
                            
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item"><a href="{% url 'admin_staff_list' %}" style='text-decoration:none;color:#00208c'>Staffs</a></li>
                                <li class="breadcrumb-item active">New</li>
                            </ol>
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if success %}
                            <div class="alert alert-success">
                                {% if edit %} Saved {% else %} Created {% endif %}Successfully
                            </div>
                        {% endif %}

                        <div class="card mb-4">

                            {% if edit %}
                                <div class="card-header">
                                    <i class="fas fa-user me-1"></i>
                                    Staff - {{staff.name}}
                                </div>
                            {% else %}
                                <div class="card-header">
                                    <i class="fas fa-user me-1"></i>
                                    New Staff
                                </div>
                            {% endif %}

                            <div class="card-body">

                                <form method="post" class="row g-3">
                                    {% csrf_token %}

                                    <div class="col-md-6">
                                        <label for="inputEmail4" class="form-label">Name</label>
                                        {% render_field form.name class="form-control" %}
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputPassword4" class="form-label">User Name</label>
                                        {% render_field form.uname class="form-control" %}
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputEmail4" class="form-label">Password</label>
                                        {% render_field form.password class="form-control" %}
                                    </div>
                                    <div class="mx-auto row g-3 align-items-center">
                                        <div class="col-md-3 form-check">
                                            <label for="inputPassword4" class="form-label">Delivery</label>
                                            {% render_field form.delivery class="form-check-input" id="delivery" %}
                                        </div>
                                        <div class="col-md-3 form-check">
                                            <label for="inputPassword4" class="form-label">Dispatch</label>
                                            {% render_field form.dispatch class="form-check-input" %}
                                        </div>
                                        <div class="col-md-3 form-check">
                                            <label for="inputPassword4" class="form-label">Cash Collection</label>
                                            {% render_field form.cash_collection class="form-check-input" %}
                                        </div>
                                        <div class="col-md-3 form-check">
                                            <label for="inputPassword4" class="form-label">Follow Up</label>
                                            {% render_field form.follow_up class="form-check-input" %}
                                        </div>
                                        <div class="col-md-3 form-check">
                                            <label for="inputPassword4" class="form-label">Billing</label>
                                            {% render_field form.billing class="form-check-input" %}
                                        </div>
                                        <div class="col-md-3 form-check">
                                            <label for="inputPassword4" class="form-label">Admin</label>
                                            {% render_field form.admin class="form-check-input" %}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                      <label for="inputAddress" class="form-label">Kilometers</label>
                                      {% render_field form.km class="form-control" id="km" %}
                                    </div>
                                    <div class="col-6">
                                      <label for="inputAddress" class="form-label">Route</label>
                                      {% render_field form.route class="form-select" id="route" %}
                                    </div>
                                    <div class="col-md-6">
                                      <label for="inputPassword4" class="form-label">Vehicle</label>
                                      {% render_field form.vehicle class="form-select" id="vehicle" %}
                                    </div>
                                    <div class="col-12">
                                      {% if edit %}
                                        <button type="submit" class="btn btn-primary">Save</button>
                                      {% else %}
                                        <button type="submit" class="btn btn-primary">Create</button>
                                      {% endif %}
                                    </div>
                                </form>
                                
                            </div>

                        </div>

                    </div>
                </main>


                <!-- Footer -->
                {% include 'admin/components/footer.html' %}


            </div>


        </div>
        
        <script src="{% static 'admin/js/scripts.js' %}"></script>
        <!-- jQuery Library -->
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

        <script>
            $('#delivery').change(function(){
                CheckRequired();
            });

            function CheckRequired(){
                if($('#delivery').is(":checked")){
                    $('#route').attr('required', true);
                    $('#km').attr('required', true);
                    $('#vehicle').attr('required', true);
                }else{
                    $('#route').attr('required', false);
                    $('#km').attr('required', false);
                    $('#vehicle').attr('required', false);
                }
            }
            CheckRequired();
        </script>
    </body>
</html>
