{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/delivery.css' %}">
    <script src="https://kit.fontawesome.com/96b854ece5.js" crossorigin="anonymous"></script>
    <link href="https://fonts.cdnfonts.com/css/caros" rel="stylesheet">
    <title>Delivery | Farmfills</title>
</head>
<body>
    <nav>
        <ul>
            <li class="active"><a href="{% url 'delivery_list' %}">Delivery</a></li>
            <li><a href="{% url 'delivery_notification' %}"> Notifications</a></li>
            <li><a href="{% url 'delivery_allowance' %}">Allowance</a></li>
        </ul>
    </nav>

    <div class="delivery sections">

        {% if early %}
            <div class="start">
                <img src="{% static 'img/early.jpg' %}" alt="" width="200" style="margin-bottom:0"><br>
                <p>You can start your delivery after 2 am.</p>
            </div>
        {% else %}

            {% if deliveryData is None %}
                <div class="start">
                    <img src="{% static 'img/delivery_start.jpg' %}" alt=""><br>
                    <form action="{% url 'start_delivery' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" value="{{total}}" name="packets" style="display: none;">
                        <input type="text" value="{{deliveryList|safe}}" name="list" style="display: none;">
                        <input type="text" value="{{assignedList|safe}}" name="extra-list" style="display: none;">
                        <button class="generate">Start</button>
                    </form>
                </div>
            {% else %}
                <div class="container sortable">
                    <div class="row head date"><p>{{ date }}</p><p>{{ total }}</p></div>
                    {% for l in deliveryList %}
                        <div class="row c{{ l.packet }} list-group-item"><p>{{ l.name }}</p><p class="handle">{{ l.packet }}</p></div>
                    {% endfor %}

                    {% if assignedList %}
                        <div class="row" style="visibility:hidden;">Hello</div>
                        <div class="row"><p>Extra</p></div>
                        {% for a in assignedList %}
                            <div class="row c{{ a.packet }}"><p>{{ a.name }}</p><p>{{ a.packet }}</p></div>
                        {% endfor %}
                    {% endif %}
                </div>
                    {% if deliveryData.end_time is None %}
                        <form action="{% url 'end_delivery' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="generate end">End</button>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
        
        {% endif %}
        
    </div>
</body>
</html>
