{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dispatch.css' %}">
    <script src="https://kit.fontawesome.com/96b854ece5.js" crossorigin="anonymous"></script>
    <link href="https://fonts.cdnfonts.com/css/caros" rel="stylesheet">
    <title>Dispatch | Farmfills</title>
</head>
<body>
    {% if data is not None %}
        <div class="dispatch">
            <div class="container">
                <div style="color:#fff; background:#444; border-radius:5px 5px 0 0">
                    <p>Dispatch</p>
                    <p></p>
                    <p style="text-align:right;">Total : {{dispatchData.total}} pkt</p>
                </div>
        
                {% for d in dispatchData.list %}
                    <div>
                        <p>{{ d.delivery_boy }}</p>
                        <p style="text-align:right;">{{ d.total }} pkt</p>
                    </div>
                {% endfor %}

            </div>

            {% if data.end_time is None %}
                <form action="{% url 'end_dispatch' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="packets_variation" id="total_packets_variation" value="0" style="display: none;">
                    <button class="generate complete" type="submit">Complete</button>
                </form>
            {% endif %}
        </div>
    {% else %}
        <div class="start">
            <img src="{% static 'img/dispatch.jpg' %}" alt="" style="margin-bottom:0 !important"><br>
            <form action="{% url 'start_dispatch' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="packets" style="display: none;" value="{{ dispatchData.total }}">
                <button type="submit" class="generate start">Arrived</button>
            </form>
        </div>
    {% endif %}
</body>
</html>
