{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Farmfills Follow up</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-2">
        <div class="row justify-content-center align-items-center text-center p-2">
            <div class="m-1 col-sm-8 col-md-6 col-lg-4 shadow-sm p-3 mb-5 bg-white border rounded">
                <div class="pt-5 pb-5">
                    <img class="rounded mx-auto d-block" src="{% static 'img/logo.png' %}" alt="" height=70px>
                    <p class="text-center text-uppercase mt-3">Follow up Login</p>
                    <form class="form text-center" action="{% url 'followup_login_validation' %}" method="POST">
                        {% csrf_token %}
                        {% if error == 1 or error == '1' %}
                            <div class="alert alert-danger">
                                Username or password is invalid
                            </div>
                        {% endif %}
                        <div class="form-group input-group-md">
                            <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="User name" required>
                        </div>
                        <div class="form-group input-group-md">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                            <!--<div class="invalid-feedback">
                                 Errors in password during form validation, also add .is-invalid class to the input fields
                            </div> -->
                        </div>
                        <button class="btn btn-lg btn-block btn-primary mt-4" type="submit">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>